_pycache_
.DS_Store

.env
*.txt
*.py
node_modules
calculations.js
fetch.js
fileio.js
github-readme-extractor.js
logging_cfg.js
main.js
server.js
tests.json
coverage/coverage-summary.json
user_auth.js
tests.json
coverage/coverage-summary.json
upload.js
storage.js
authState.js
